




@font-face {
    font-family: manus;
    src: url(../fonts/Manus_Smooth_TRIAL.ttf);
}


@font-face {
    font-family: AppleGaramond;
    src: url(../fonts/AppleGaramond.ttf);
}



html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.container{
  padding: 0;
  padding:2% 0 5% 0;
height: 100%;
}



h1,h2,h3{
font-family: 'astounder-squared-bb', sans-serif;
}


h1{

font-size: 3rem;

}

button{
  background:transparent;
  border: none;
  color: #fff;
}

button:focus {
  outline:0;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover{
  text-decoration:none; 
    color:black;
}

a:visited{
  text-decoration: none;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}

textarea:focus, input:focus{
    outline: none;
}

#myInput{
  color: white;
}


.header{
/* background: rgba(255,163,26,0); */
background: #ffa31a; /* For browsers that do not support gradients */
background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4));
z-index: 500;
margin: 0 auto;
text-align: center;
padding: 15px;
color: white;
 position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;

}

.header-logo{

  width: 80px;
  height: 17px;
  margin: 0 auto;
background-image: url(../images/logo-blk-sml.png);
}

.header h3{

  font-size: 1.2rem;
}


/*for mobile*/


.mobile_index{

background-image: url(../images/intro-mid.jpg);
background-size: cover;
height: 350px;
padding: 80px 0;

}

.mobile_title{
  position: relative;
float: right;
margin-right: 30px;
  text-align: center;
}

.mobile-menu-container{

      position: fixed;
       width: 100%;
       z-index: 10;
}



.mobile-menu{

text-align: center;
display: none;
 background: rgba(255,255,255,0.8);
    padding: 5px 10px 0;
}


.mobile-logo{

  width: 50px;
  margin: -10px auto 0;
}

#mobile-menu-list{

position: relative;
background-color: rgba(43,43,107,0.9);
color: white;
width: 100%;
padding: 10px 0;
height: 180px;
}

ul{

 padding: 0;

}

li{
    border-bottom: solid 1px white;
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    font-family: 'astounder-squared-bb', sans-serif;
    letter-spacing: 3px;
}

li:nth-child(4){
border:none;

}



/*end for mobile*/


/*chapter1 */

#menu{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  z-index: 25;
}

.logobox{

  width: 40px;
  height: 40px;
  background-color: #2B2B6B;
   transform: rotate(45deg);
   position: absolute;

}

#menu-icon{

  position: absolute;
  color: #fff;
  width: 100%;
  display: none;
  height: 100%;
  font-size: 30px;
}

#menu-open-icon{
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 30px;
  z-index: 220;

}


.menu-icon{
    padding: 5px 7px;
}

.logo{
  background-image: url(../images/logo.png);
  background-size: cover;
  z-index: 25;
  width: 40px;
  position: absolute;
  height: 40px;
}

#menu-wrapper{

  background-color: rgba(43,43,107,0.7); 
  width: 100vw;
  height: 100vh;
  z-index: 22;
  position: absolute;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 200px;

}

#menu-wrapper a:hover{

  color: #ffa31a;

}

#homepage{

   width: 100%;  
   background-image: url(../images/bcg-midup.jpg);
  background-size: cover;

}


#thestory{

width:100%;
position: relative;}


#casestudies{
  position: relative;
}

#about{
width:100%;
position: relative;
background-color: #ffa31a;
}


#batshuayi, #Brewster, #sterling, #anton{

width: 100%;
    height: 100%;
    z-index: 5;
    line-height: 2rem;  
    top: 0;
    overflow-y: scroll;
    background-size: cover;
    background-color: #2b2b6b;
    position: fixed;
    display: none;
}

.case-container h2{
letter-spacing: 3px;
}
.case-container p{

  text-align: justify;
}

.case-container{
  
  background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 5% 4%;
}


.bat-close, .brew-close, .ster-close, .anton-close{

  top: 7%;
  color: white; 
    position: fixed;
    right: 5%;
}

.whoareya p{
  width: 500px;
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
}

.whoareya-logo{

  width: 50%;
  text-align: center;
  font-family: 'astounder-squared-bb', sans-serif;
  font-size: 12rem;
  margin:0 auto;
  padding: 10% 0 20px 0;
  line-height: 12rem;

}

.whoareya-logo img{
  width: 100%;
}

.whoareya-button{

width: 200px;
height: 50px;
border-radius: 10px;
margin: 70px auto;
text-align: center;
background-color: #6e0240;
color: white;
padding: 10px 0;
letter-spacing: 3px;
}

.whoareya-button:hover{

  background-color:white;
  color: #6e0240;
}

.vimeo-box{

  padding:56.25% 0 0 0;
  position:relative; 
  background-color: #2b2b6b;
}

.vimeo{

position:absolute;
top:5%;
left:0;
width:100%;
height:80%;

}

.section-title{
  text-align: center;
  padding: 30px 0 0 0;
  letter-spacing: 5px;
  background-color: rgba(0,0,0,0);
}

.section-title-story{
  text-align: center;
  letter-spacing: 5px;
background-color: #2b2b6b;

padding: 50px 0 10px;
color: white;}



.casestudy-box-left-pic{
  margin-right: -15px;
}

.casestudy-box-right-text{
  margin-left: -15px;
}


.casestudy-box{
  margin-bottom: 30px;
}
.case-textbox{
  width: 100%;
    position: absolute;
  bottom: 0;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  padding: 12% 0;
  height: 70%;
  background-color: #2b2b6b;
}

.case-textbox h2{

max-width: 95%;
margin: 0 auto;
  font-size: 4rem;
}

.case-textbox p{
padding-top: 30px;
text-decoration: underline;
  font-size: 1.5rem;
}


#takeaction{
  position: relative;
  width: 100%;
}

.takeaction-box{

  width: 60%;
  height: 500px;
  margin: 40px auto;
  background-color: white;
}

.action-img img{
  width: 100%;
}

.action-text, .action-icon{

text-align: center;
letter-spacing: 3px;
margin: 10px 0 20px;

}



.action-text h3{

  font-size: 2rem;
  margin: 0 auto;
}

.linkbox{
  margin-left: 3px;
  background-color: #2b2b6b;
  width: 80px;
  height:28px;
  border-radius: 5px;
  color: white;
font-size: 0.8rem;  
padding: 5px;
}



@media (max-width: 400px){



.whoareya-logo {
    padding: 0;
    width: 60%;
    margin: -5px auto -50px;
}

.whoareya p {
    width: 60%;
    margin-top: -50px;
    font-size: 0.8rem;

    }


.whoareya-button h3{
  font-size: 1.5rem;
}

}


@media (min-width: 401px) and (max-width: 700px){

  .whoareya-logo{

    padding: 0;
    margin: 20px auto 0px;
} 

}


@media (max-width: 575px){


  .section-title{
    padding: 40px 0;
  }

  .section-title-story{

    padding: 30px 0 10px;
  }
  .section-title h1,.section-title-story h1{
 font-size: 2rem;}


 .case-textbox{
  padding: 8% 0;
  height:100%;
 }

 .case-textbox h2{
  font-size: 1.2rem;
  margin-bottom: 10px;
}
  .case-textbox h3{
  font-size: 0.6rem;
}

 .case-textbox p{
  font-size: 0.8rem;
  padding-top: 5px;
}
.takeaction-box{
  width: 85%;

}
.case-container{
  width: 100%;
  padding: 10% 5%; 
  line-height: 1.5rem;
}

.bat-close, .brew-close, .ster-close, .anton-close{
  color: black;
  position: absolute;
}

}


@media (min-width: 576px) and (max-width: 700px){
 .case-textbox{
  padding: 6% 0;
  height: 70%;
 }

 .case-textbox h2{
  font-size: 1.5rem;
}
  .case-textbox h3{
  font-size: 0.8rem;
}

 .case-textbox p{
  font-size: 0.8rem;
  padding-top: 10px;
}

.takeaction-box{

  width: 95%;
}
}

@media (max-width: 700px){

  .vimeo{
height:100%;
  }
.spacing{

  width: 100%;
  height: 80px;
  background: #2b2b6b;
}



  #homepage{
  background-image: url(../images/bcg-mobile.jpg);
    background-size: 100% auto;
}

.header{display: none;}

.mobile-menu{

width: 100%;
display: inline-block;

}

  .whoareya-button{
margin: 30px auto 50px;
padding: 10px 0;

}

a:hover{
  color: #ffa31a;
}

}


@media (min-width: 576px) and (max-width: 767px){


.takeaction-box{
  width: 45%;

}

}



@media(min-width: 701px) and (max-width: 900px) {


 .whoareya-logo{

    padding: 5% 0 0 0;
} 

.whoareya-button{

  margin: 40px auto 60px auto;
}

  .case-textbox{
padding: 10% 0;
  }

  .case-textbox h2{
  font-size: 2.5rem;
}

}

@media(min-width: 768px) and (max-width: 900px) {

.takeaction-box{

  width: 95%;
}





}


@media (min-width: 401px) and (max-width: 900px) {


.bat-close, .brew-close, .ster-close, .anton-close{

  font-size: 2rem;
}

 .whoareya p{
  width: 50%;
  margin-top: -30px;
}




}

@media (max-width: 1100px) {

  .container{
    padding: 2% 0 0 0;
      height: 100%;
  }



}

@media (min-width: 701px) and (max-width: 1100px) {

  #homepage{

   background-image: url(../images/bcg-sml.jpg);
  background-size: 100% auto;
}



}


@media (min-width: 901px) and (max-width: 1100px) {

  .case-textbox h2{

  font-size: 3rem;
}


.whoareya-logo{

    padding: 8% 0 0 0;
} 
.whoareya-button{

  margin: 40px auto 80px auto;
}

.takeaction-box{

  width: 90%;
}


}

@media (min-width: 1800px) {
  
 .whoareya p{
  width: 700px;
  font-weight: 900;
  font-size: 1.5rem;
}

.whoareya-logo{

  width: 1000px;
    padding: 12% 0 70px 0;

}

.action-text{

text-align: center;
letter-spacing: 3px;
margin: 30px 0 40px;

}

.header h3{

  font-size: 2rem;
}

.header-logo{

  width: 150px;
  height: 32px;
background-image: url(../images/logo-blk-lg.png);
}




}

